http.request() fails for (non-)chunked encoding with no transfer length

According to http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.4 

>2.If a Transfer-Encoding header field (section 14.41) is present and has any value other than "identity", then the transfer-length is defined by use of the "chunked" transfer-coding (section 3.6), unless the message is terminated by closing the connection.

However, http.request() fails with **invalid chunk size**.



Do you have a URL I can try? The fact that you got the error means that LuaSocket is trying to use chunked transfer-coding to download the body. It also means LuaSocket did not understand what your server is trying to do.

This problem comes from someone else's server on a private network, so not easy to duplicate.  However the problem (and I think solution) is clear - the headers include

    TRANSFER-ENCODING: chunked
    CONTENT-TYPE: text/xml
    DATE: Thu, 03 Dec 2015 02:55:25 GMT
    LAST-MODIFIED: Fri, 20 Nov 2015 14:30:59 GMT
    SERVER: Linux/2.6.28.3, UPnP/1.0, Portable SDK for UPnP devices/1.6.6
    X-User-Agent: redsonic
    CONNECTION: close

...that is, a non-identity TRANSFER-ENCODING with no CONTENT-LENGTH but a CONNECTION: close.
According to RFC2616, section 4.4 rule 2, as quoted above, this is valid.  Other clients handle this, but http.request() declares an error on line 75

     if not size then return nil, "invalid chunk size" end

The root of the problem is line 167

     if t and t ~= "identity" then mode = "http-chunked"

which I have changed to 

    if t and t ~= "identity" then -- fix for rule 2 of RFC 2616, sec4.4
      if headers["connection"] == "close" then
        mode = "until-closed"
      else
        mode = "http-chunked"
      end

This seems to fix it, but I would defer to your expert opinion as to whether this is entirely correct.  I could put in a pull request if you like.


I missed the "unless the message is terminated by closing the connection" in the description. My bad. Unfortunately, this does *not* mean a "connection: close" header. I interpret it to mean that the server may, instead of using the chunked encoding, simply close the connection after sending data and whatever data it has sent before closing must be assumed to be the message body. It makes perfect sense for a server to have use the chunked encoding and, after it is done, closing the connection, so your solution won't work in general. What is needed is a fallback from the "http-chunked" sink to the "until-closed" sink. I still don't understand why a server would signal that it will use chunked and then not do it. To me, it is a bug in the RFC, but such is life. Can you test this code here?

     socket.sourcet["http-chunked"] = function(sock, headers)
        local src = {
            getfd = function() return sock:getfd() end,
            dirty = function() return sock:dirty() end
        }
        base.setmetatable(src, {
            __call = function()
                -- get chunk size, skip extention
                local line, err = sock:receive()
                if err then return nil, err end
                local size = base.tonumber(string.gsub(line, ";.*", ""), 16)
                -- if there is no size, fallback to "until-closed" mode
                if not size then 
                    local done
                    base.setmetatable(src,{
                        __call = function()
                            if done then return nil end
                            local chunk, err, partial = 
                                sock:receive(socket.BLOCKSIZE)
                            if not err then return chunk
                            elseif err == "closed" then
                                sock:close()
                                done = 1
                                return partial
                            else return nil, err end
                        end
                    })
                    return line
                end
                -- was it the last chunk?
                if size > 0 then
                    -- if not, get chunk and skip terminating CRLF
                    local chunk, err, part = sock:receive(size)
                    if chunk then sock:receive() end
                    return chunk, err
                else
                    -- if it was, read trailers into headers table
                    headers, err = receiveheaders(sock, headers)
                    if not headers then return nil, err end
                end
            end
        })
        return src
    end



Thanks for the update.

> Unfortunately, this does not mean a "connection: close" header. I interpret it to mean that the server may, instead of using the chunked encoding, simply close the connection after sending data and whatever data it has sent before closing must be assumed to be the message body. 

That's what I thought originally, but how would you know whether the body was actually chunked or not?  Here we have an example, which _does_ work with other clients, where the encoding says chunked, but the body is not.  Suppose the first line of the (unencoded) body happened to be a valid hexadecimal number?  The only thing you can do is believe the 'close' header from the outset, ignore the specified encoding, and finish with an actual connection close.

> It makes perfect sense for a server to use chunked encoding and, after it is done, closing the connection, so your solution won't work in general. What is needed is a fallback from the "http-chunked" sink to the "until-closed" sink. I still don't understand why a server would signal that it will use chunked and then not do it. To me, it is a bug in the RFC, but such is life.

Yes, but because of the above, I'm not convinced of this solution.  Almost universally, you would expect chunked encoding to utilize a keep-open connection, because there's usually more to say?

PS: Incidentally, why do you use:

    local size = base.tonumber(string.gsub(line, ";.*", ""), 16)

rather than 

    local size = base.tonumber(string.match(line, "^%x+") or '', 16)

...which is a bit more explicit in defining what it is looking for?


Chunked is also useful when the server does not know the size of the body in advance, even when the server is not using persistent connections. Think a CGI script of some kind generating the output data. In that case, the server can (and indeed apache2 does!) use the combination "connection: close" and "transfer-encoding: chunked", meaning the expected behavior. Whatever the case is, I am curious to see what kind of work around the other clients are using. Do you have an idea? It can't be your solution, because of the example I mentioned. My "solution" is broken as well, of course. But this is because the problem is inherently ambiguous. This is why I think this is a bug in the RFC. I also think that apache2 is correct in its interpretation. Your server has no business including a "transfer-encoding: chunked" header if it is not going to use the chunked encoding. So we have an impasse. I don't think it makes sense to break support for apache2. The hack I suggested would only break if the server is insane and unlucky at the same time. 

When I wrote this code, there was no string.match(). Your code is a bit more efficient, though, in practice, you'd need an atomic clock to measure the difference. Remind me to change it when we finish this discussion.

I see that RFC2616 was replaced by multiple RFCs (7230-7237), so wonder if they clarify the issue?

I need to ask a third-party to check out your proposed solution (it's not my server), so may take a little while.  However, I'd reiterate that normal browsers don't have a problem dealing with this server, so unless the behaviour is modified by some other request header that vanilla http.request() doesn't send, then I'm a at a bit of a loss to understand how.


By the new text, your server is definitely broken. See [section 3.3.3] (https://tools.ietf.org/html/rfc7230#section-3.3.3). Note there is no mention of "connection: close", as I expected.

As for normal browsers having no trouble with this situation, I don't see how it is possible. Consider a message body that could be interpreted as being chunked. How can your server return it? The browser will assume it is actually chunked and remove chunking. Or if it never assumes it is chunked, how will it deal with the apache2 response, which is actually chunked?

The fact it works on your example does not mean it works in *all* cases. This is what my proposed disgusting hack would achieve. Unless there is something more fundamental that we are missing.


Can you check if wget works as well? Try 

    wget -e "httpkeepalive=off" -S <url>

and let me know what it does. If it works, we can try to understand the magic. For example, we can try a <url> that resolves to a file that begins with a bogus line that contains a hex number. It will look as though it is chunked, even though the server is not applying the chunking encoding, but then the files should continue in a random fashion. I wonder what will happen.

Yes, wget works and produced this output to the console (and a saved file with the correct body.)


HTTP request sent, awaiting response... 
  HTTP/1.1 200 OK
  CONTENT-LENGTH: 2107
  CONTENT-TYPE: text/xml
  DATE: Fri, 11 Dec 2015 12:44:14 GMT
  LAST-MODIFIED: Wed, 16 Oct 2013 08:08:00 GMT
  SERVER: Linux/2.6.28.3, UPnP/1.0, Portable SDK for UPnP devices/1.6.6
  X-User-Agent: redsonic
  CONNECTION: close
Length: 2107 (2.1K) [text/xml]
Saving to: `description.xml'

100%[=============================================================================================================>] 2,107       --.-K/s   in 0.06s   

2015-12-11 12:44:12 (31.8 KB/s) - `description.xml' saved [2107/2107]


> On 9 Dec 2015, at 19:29, Diego Nehab <notifications@github.com> wrote:
> 
> By the new text, your server is definitely broken. See section 3.3.3 <https://tools.ietf.org/html/rfc7230#section-3.3.3>. Note there is no mention of "connection: close", as I expected.
> 
> As for normal browsers having no trouble with this situation, I don't see how it is possible. Consider a message body that could be interpreted as being chunked. How can your server return it? The browser will assume it is actually chunked and remove chunking. Or if it never assumes it is chunked, how will it deal with the apache2 response, which is actually chunked?
> 
> The fact it works on your example does not mean it works in all cases. This is what my proposed disgusting hack would achieve. Unless there is something more fundamental that we are missing.
> 
> —
> Reply to this email directly or view it on GitHub <https://github.com/diegonehab/luasocket/issues/153#issuecomment-163365604>.
> 



Also yes... your modified code works too (although presumably not with a valid hax number line as the first of the response.)

     socket.sourcet["http-chunked"] = function(sock, headers)


Sorry, closed in error! (so re-opened)

Also yes... your modified code works too (although presumably not with a valid hax number line as the first of the response.)

 socket.sourcet["http-chunked"] = function(sock, headers)



I was on vacation. Sorry.

Anyway, have you noticed that the response that wget receives does not include a "chunked" header field? I think it added a header saying that it does not accept chunked. Can you add the option "-d" so we can see for sure? This suggests a solution: simply add the header "Accept-Encoding: identity" and see if it works.

Even better, force it to send the "Accept-Encoding: chunked" by using the command-line

    wget --header='Accept-Encoding: chunked' -d -e "httpkeepalive=off" -S <url>

and let's see what happens.

OK, that's fine.  Vacations are allowed, I think.

Yes, I'd noticed the response headers, and your suggestion of a solution reinforces my earlier thought:
> "...unless the behaviour is modified by some other request header..."

I'll happily run both those test cases when I can, but alas, I have lost access to the server until after the holidays.  I'll let you know the result when I can try it again.

In the mean time, it looks like I might have a simple solution to my immediate problem without recourse to changing Luasocket.  But I think we are still left with a shady part of the spec that may need a bit more careful handling.

Thanks for all the suggestions so far.


You don't need to change LuaSocket to include the header I suggested. Just pass it along with the request.

I am still curious to see what the browsers and wget would do if faced with the response your server gave.

OK, I've tried wget with two options - and I am now more confused than ever.  It seems that whatever you ask, it sends non-chunked responses - except it _doesn't_ do that for http.request()

First, with no special header:

```
# wget -e "httpkeepalive=off" -d -S http://XXX:YYY/description.xml 
Setting --server-response (serverresponse) to 1
DEBUG output created by Wget 1.13.4 on linux-gnu.

--2016-01-11 11:37:09--  http://XXX:YYY/description.xml
Connecting to XXX:YYY... connected.
Created socket 3.
Releasing 0x007c4258 (new refcount 0).
Deleting unused 0x007c4258.

---request begin---
GET /description.xml HTTP/1.1
User-Agent: Wget/1.13.4 (linux-gnu)
Accept: */*
Host: XXX:YYY
Connection: Close

---request end---
HTTP request sent, awaiting response... 
---response begin---
HTTP/1.1 200 OK
CONTENT-LENGTH: 2107
CONTENT-TYPE: text/xml
DATE: Mon, 11 Jan 2016 11:37:10 GMT
LAST-MODIFIED: Wed, 16 Oct 2013 08:08:00 GMT
SERVER: Linux/2.6.28.3, UPnP/1.0, Portable SDK for UPnP devices/1.6.6
X-User-Agent: redsonic
CONNECTION: close

---response end---

  HTTP/1.1 200 OK
  CONTENT-LENGTH: 2107
  CONTENT-TYPE: text/xml
  DATE: Mon, 11 Jan 2016 11:37:10 GMT
  LAST-MODIFIED: Wed, 16 Oct 2013 08:08:00 GMT
  SERVER: Linux/2.6.28.3, UPnP/1.0, Portable SDK for UPnP devices/1.6.6
  X-User-Agent: redsonic
  CONNECTION: close
Length: 2107 (2.1K) [text/xml]
Saving to: `description.xml.2'

100%[==================================================================================================>] 2,107       --.-K/s   in 0s      

Closed fd 3
2016-01-11 11:37:10 (19.6 MB/s) - `description.xml.2' saved [2107/2107]

```
Now with trying to force a chunked response:

```
# wget --header='Accept-Encoding: chunked' -d -e "httpkeepalive=off" -S http://XXX:YYY/description.xml

Setting httpkeepalive (httpkeepalive) to off
Setting --server-response (serverresponse) to 1
DEBUG output created by Wget 1.13.4 on linux-gnu.

--2016-01-11 11:30:01--  http://XXX:YYY/description.xml
Connecting to XXX:YYY... connected.
Created socket 3.
Releasing 0x0049f288 (new refcount 0).
Deleting unused 0x0049f288.

---request begin---
GET /description.xml HTTP/1.1
User-Agent: Wget/1.13.4 (linux-gnu)
Accept: */*
Host: XXX:YYY
Connection: Close
Accept-Encoding: chunked

---request end---
HTTP request sent, awaiting response... 
---response begin---
HTTP/1.1 200 OK
CONTENT-LENGTH: 2107
CONTENT-TYPE: text/xml
DATE: Mon, 11 Jan 2016 11:30:02 GMT
LAST-MODIFIED: Wed, 16 Oct 2013 08:08:00 GMT
SERVER: Linux/2.6.28.3, UPnP/1.0, Portable SDK for UPnP devices/1.6.6
X-User-Agent: redsonic
CONNECTION: close

---response end---

  HTTP/1.1 200 OK
  CONTENT-LENGTH: 2107
  CONTENT-TYPE: text/xml
  DATE: Mon, 11 Jan 2016 11:30:02 GMT
  LAST-MODIFIED: Wed, 16 Oct 2013 08:08:00 GMT
  SERVER: Linux/2.6.28.3, UPnP/1.0, Portable SDK for UPnP devices/1.6.6
  X-User-Agent: redsonic
  CONNECTION: close
Length: 2107 (2.1K) [text/xml]
Saving to: `description.xml'

100%[==================================================================================================>] 2,107       --.-K/s   in 0s      

Closed fd 3
2016-01-11 11:30:01 (19.8 MB/s) - `description.xml' saved [2107/2107]
```
So far as I can see, the responses are identical.  I really don;t know what this tells us.

I have yet to do the other test you suggested and simply add the header "Accept-Encoding: identity" to the http.request() call.


This is intriguing. What are the request headers that http.request is sending? Can you hack http.lua to print them? If the headers are the same, or equivalent, the response should be the same. So there is something different going on. Changing the "Accept-Encoding" header will probably solve your problem, but scientific curiosity dictates we should keep investigating. :)

I've printed out the 'tosend' parameters in the 'sendheaders' function, and I see this ( host url redacted):

```
{
  connection = "close, TE",
  host = "XXX:YYY",
  te = "trailers",
  ["user-agent"] = "LuaSocket 3.0-rc1"
}
```

This is with the simple http.request "url" style of call.


Hmmm. So maybe the TE is confusing the server?

Well, I'm stumped.  Whatever I do, I can't get http.request NOT to send the header te="trailers", although if I specify connection  = "close" then I can remove the TE in that header.  Also, whatever I do, I can't get the server NOT to send chunked encoding - even when trying to emulate the above request headers.

I'm completely at a loss, and really must relinquish my access to this server again.